* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
p {
    border: 1px solid red;
    text-indent: 50px;
    text-transform: uppercase;
}
#cha div {
    border: 3px black solid;
}
#cha {
    border: 5px red solid;
    display: flex;
    width: 500px;
    height: 300px;
    /* flex-direction: row; */
    /* flex-wrap: nowrap; */
    /* flex-wrap: wrap; */
    /* flex-wrap:wrap-reverse; */
    /* flex-flow: column-reverse; */
    /* flex-flow: row nowrap; */
    /* align-items:center;
    justify-content: center; */
    /* flex-wrap: nowrap; */
    gap: 10px;
}
#mot {
    width: 350px;
    order: 2;
    /* flex-basis: 300px; */
    /* flex-shrink: 2; */
}
#hai {
    width: 350px;
    order: 1;
    /* flex-basis: 250px; */
    /* flex-grow: 1; */
    /* flex-shrink: 1; */
}
#ba {
    width: 350px;
    order: 3;
    /* flex-basis: 250px; */
    /* flex-grow: 1; */
    /* flex-shrink: 1; */
}
#bon {
    width: 350px; 
    order: 4;
    /* flex-basis: 250px;
    /* flex-grow: 3; */
    /* flex-shrink: 1; */
}